<div class="content">
  <h2>Sign in</h2>

  <form class="form" #userLogin="ngForm" (ngSubmit)="onClickSubmit(userLogin.value)" >
    <input ngModel class="text-input" name="email" type="email" placeholder="Email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
    <input ngModel class="text-input" name="password" type="password" placeholder="Password" required>

<!--    <input type="button" value="Register" onclick="navigateToRegister()">-->

    <div class="button-row">
      <button class="button button-row-button" (click)="navigateToRegister()" >Sign Up</button>
      <input class="button button-row-button" type="submit" value="Sign In">
    </div>
  </form>
</div>
