<div class="content">
  <h2>Sign in or Sing up</h2>

  <form class="form" #userLogin="ngForm" (ngSubmit)="onClickSubmit(userLogin.value)" >
    <input ngModel class="text-input" name="email" type="email" placeholder="Email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required>
    <input ngModel class="text-input" name="password" type="password" placeholder="Password" required>
    <input class="input-button-red" type="submit" value="Login">
<!--    <input type="button" value="Register" onclick="navigateToRegister()">-->
    <button class="button-red" (click)="navigateToRegister()" >Register</button>
  </form>
</div>
