.tab-button-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 10px;
  background-color: var(--background-color);
}

.tab-button {
  flex: 1;
  border-radius: 14px;
  margin-bottom: 5px;
  border: none;
  max-width: 150px;
  cursor: pointer;
  background-color: var(--foreground-color);
  color: var(--content-text-color);
}

.tab-button-row > * {
  margin-right: 5px;
}

.tab-button:last-child {
  margin-right: 0;
}

.tab-button.selected {
  margin-bottom: 0;
  border-bottom: var(--foreground-color) solid 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}








ul.clean {
  list-style: none;
  align-self: center;
}
li.item {
  border-radius: 25px;
  border: 1px solid #000;
  background-color: white;
  text-align: center;
  margin: 5px;
  width: 96.5%;
}

li:hover {
  background-color: var(--color-gray-1);
}

ul.hidden {
  display: none;
}
