<div class="centered-content">
  <div class="tab-button-row">
    <button class="tab-button" [class.selected]="rideOffersBtnClicked" (click)="offersBtnClicked()">
      Offers
    </button>
    <button class="tab-button" [class.selected]="rideRequestsBtnClicked" (click)="requestsBtnClicked()">
      Requests
    </button>
  </div>

  <div id="offersList" *ngIf="rideOffersBtnClicked">
    <div>
      <label for="offersFrom">Choose a Start location:</label>
      <select id="offersFrom" (change)="filterOfferView(true, $event)">
        <option value="">None</option>
        <option *ngFor="let location of offersFromLocations" [value]="location">
          {{location}}
        </option>
      </select>
      <label for="offersTo">Choose a destination:</label>
      <select id="offersTo" (change)="filterOfferView(false, $event)">
        <option value="">None</option>
        <option *ngFor="let location of offersToLocations" [value]="location">
          {{location}}
        </option>
      </select>
    </div>

    <div class="offer-request card-content" (click)="onClickOfferItem(rideOffer)" *ngFor="let rideOffer of rideOffersDisplayed">
      <span hidden>{{rideOffer.id}}</span><br>
      <h2>{{rideOffer.title}}</h2><br>
      <p>{{rideOffer.description}}</p>
      <p>From: {{rideOffer.fromAddress.location}} - To: {{rideOffer.toAddress.location}}</p>
    </div>
  </div>
  <div id="requestsList" *ngIf="rideRequestsBtnClicked">
    <div>
      <label for="requestsFrom">Choose a Start location:</label>
      <select id="requestsFrom" (change)="filterRequestView(true, $event)">
        <option value="">None</option>
        <option *ngFor="let location of requestsFromLocations" [value]="location">
          {{location}}
        </option>
      </select>
      <label for="requestsTo">Choose a destination:</label>
      <select id="requestsTo" (change)="filterRequestView(false, $event)">
        <option value="">None</option>
        <option *ngFor="let location of requestsToLocations" [value]="location">
          {{location}}
        </option>
      </select>
    </div>
    <div class="offer-request card-content" (click)="onClickRequestItem(rideRequest)"
         *ngFor="let rideRequest of rideRequestDisplayed">
      <span hidden>{{rideRequest.id}}</span><br>
      <h2>{{rideRequest.title}}</h2><br>
      <p>{{rideRequest.description}}</p>
      <p>From: {{rideRequest.fromAddress.location}} - To: {{rideRequest.toAddress.location}}</p>
    </div>
  </div>
  <div class="button-row">
    <button class="button button-row-button" (click)="navigateToNewOfferView()">+</button>
  </div>
</div>
