.tab-button-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 10px;
  background-color: var(--background-color);
}

.tab-button {
  position: relative;
  z-index: 0;
  flex: 1;
  border-radius: 14px;
  margin-bottom: 5px;
  border: none;
  max-width: 150px;
  cursor: pointer;
  box-shadow: 4px 4px 4px #888888;
  background-color: var(--foreground-color);
  color: var(--content-text-color);
}

.tab-button-row > .tab-button {
  margin-right: 5px;
}

.tab-button > .tab-button:last-child {
  margin-right: 0;
}

.tab-button.selected {
  margin-bottom: 0;
  border-bottom: var(--foreground-color) solid 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.offer-request:first-child {
  margin-top: 0;
}

.card-content {
  position: relative;
  z-index: 1;
}

.card-content:hover {
  cursor: pointer;
}
