<div class="filters" *ngIf="rideOffersBtnClicked">
  <div class="select-holder">
    <h3>Start:</h3>
      <div class="select">
<!--        <select id="offersFrom" (change)="filterOfferView(true, $event)">-->
        <select id="offersFrom" (change)="filterFromLocation($event)">
          <option value="">All</option>
          <option *ngFor="let location of offersFromLocations" [value]="location">
            {{location}}
          </option>
        </select>
      </div>
  </div>
  <div class="select-holder">
    <h3>Destination:</h3>
      <div class="select">
        <select id="offersTo" (change)="filterToLocation($event)">
          <option value="">All</option>
          <option *ngFor="let location of offersToLocations" [value]="location">
            {{location}}
          </option>
        </select>
      </div>
  </div>
  <div class="break-column"></div>
  <div class="select-holder">
    <h3>Date: </h3>
    <div class="select">
      <input type="date" [(ngModel)]="selectedDateString" (ngModelChange)="initiateFilterByDate($event)">
    </div>
  </div>
  <div class="select-holder">
    <button class="button button-row-button" (click)="resetFilters()">Reset</button>
  </div>
</div>

<div class="filters" *ngIf="rideRequestsBtnClicked">
  <div class="select-holder">
    <h3>Start:</h3>
    <div class="select">
      <select id="requestsFrom" (change)="filterFromLocation($event)">
        <option value="">All</option>
        <option *ngFor="let location of requestsFromLocations" [value]="location">
          {{location}}
        </option>
      </select>
    </div>
  </div>
  <div class="select-holder">
    <h3>Destination:</h3>
    <div class="select">
      <select id="requestsTo" (change)="filterToLocation($event)">
        <option value="">All</option>
        <option *ngFor="let location of requestsToLocations" [value]="location">
          {{location}}
        </option>
      </select>
    </div>
  </div>
  <div class="break-column"></div>
  <div class="select-holder">
    <h3>Date: </h3>
    <div class="select">
      <input type="date" [(ngModel)]="selectedDateString" (ngModelChange)="initiateFilterByDate($event)">
    </div>
  </div>
  <div class="select-holder">
    <button class="button button-row-button" (click)="resetFilters()">Reset</button>
  </div>
</div>

<div class="centered-content">
  <div class="tab-button-row">
    <button class="tab-button" [class.selected]="rideOffersBtnClicked" (click)="offersBtnClicked()">
      Offers
    </button>
    <button class="tab-button" [class.selected]="rideRequestsBtnClicked" (click)="requestsBtnClicked()">
      Requests
    </button>
  </div>


  <div id="offersList" *ngIf="rideOffersBtnClicked">
    <div class="offer-request card-content" (click)="onClickOfferItem(rideOffer)"
         *ngFor="let rideOffer of rideOffersDisplayed">
      <span hidden>{{rideOffer.id}}</span><br>
      <h2>{{rideOffer.title}}</h2><br>
      <p>{{rideOffer.description}}</p>
      <p>At: {{rideOffer.startTime | date: 'hh:mm dd.MM.YY'}}</p>
      <p>From: {{rideOffer.fromAddress.location}} - To: {{rideOffer.toAddress.location}}</p>
    </div>
  </div>


  <div id="requestsList" *ngIf="rideRequestsBtnClicked">
    <div class="offer-request card-content" (click)="onClickRequestItem(rideRequest)"
         *ngFor="let rideRequest of rideRequestsDisplayed">
      <span hidden>{{rideRequest.id}}</span><br>
      <h2>{{rideRequest.title}}</h2><br>
      <p>{{rideRequest.description}}</p>
      <p>At: {{rideRequest.startTime | date: 'hh:mm dd.MM.YY'}}</p>
      <p>From: {{rideRequest.fromAddress.location}} - To: {{rideRequest.toAddress.location}}</p>
    </div>
  </div>
  <div *ngIf="isLoggedIn" class="button-row">
    <button class="button button-row-button" (click)="navigateToNewOfferView()">+</button>
  </div>
</div>
