/* You can add global styles to this file, and also import other style files */
button {
  margin: 1em;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-1: #777777;
  --color-red: #6D1414;

  --foreground-color: #DDDDDD;
  --border-color: #000000;
  --content-text-color: #000000;
  --nav-color: #000000;
  --nav-text-color: #ffffff;
  --button-color: #6D1414;
  --button-text-color: #ffffff;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--color-gray-1);
  height: 100%
}

.body {
  height: 100%;
}

h1 {
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
}

h2 {
  text-align: center;
}

.input-button-red {
  color: var(--color-white);
  background-color: var(--color-red);
  width: 100%;
  padding: 0.1em;
  font-size: 32pt;
  border-radius: 12px;
}

.button-red {
  color: var(--color-white);
  background-color: var(--color-red);
  width: 100%;
  padding: 0.1em;
  font-size: 32pt;
  margin: 0;
  border-radius: 12px;
}
