<h2 *ngIf="isOwner">Edit Ride Request</h2>
<h2 *ngIf="!isOwner && rideRequestFromStorage">View Ride Request</h2>
<form *ngIf="rideRequestFromStorage" class="centered-content" #UpdateRideRequest="ngForm"
      (ngSubmit)="onClickSubmitUpdate(UpdateRideRequest.value)">
  <div class="card-content profile-content">

    <h3>Content:</h3>
    <input name="id" hidden [(ngModel)]="rideRequestFromStorage.id">
    <label class="profile-item-label">Title</label>
    <input class="profile-item-value" name="title" type="text" [(ngModel)]="rideRequestFromStorage.title"
           placeholder="enter title">
    <label class="profile-item-label">Content</label>
    <input class="profile-item-value" name="description" type=text [(ngModel)]="rideRequestFromStorage.description"
           placeholder="enter description">
    <label class="profile-item-label">Contact</label>
    <input class="profile-item-value" name="mail" type=text [(ngModel)]="rideRequestFromStorage.user.email" readonly>
    <label class="profile-item-label">Start Time</label>
    <input class="profile-item-value" name="startTime" type="datetime-local" placeholder="enter start time" [ngModel]="rideRequestFromStorage.startTime">

    <h3>From:</h3>
    <input name="from_id" hidden [(ngModel)]="rideRequestFromStorage.fromAddress.id">
    <label class="profile-item-label">Street</label>
    <input class="profile-item-value" name="from_street" type="text" [(ngModel)]="rideRequestFromStorage.fromAddress.street"
           [readOnly]="!isOwner" placeholder="enter street name">
    <label class="profile-item-label">House Number</label>
    <input class="profile-item-value" name="from_house_number" type="text" [(ngModel)]="rideRequestFromStorage.fromAddress.houseNumber"
           [readOnly]="!isOwner" placeholder="enter house number" pattern="[^A-Za-z0-9]+">
    <label class="profile-item-label">Postal Code</label>
    <input class="profile-item-value" name="from_postal_code" type="text" [(ngModel)]="rideRequestFromStorage.fromAddress.postalCode"
           [readOnly]="!isOwner" placeholder="enter postal code" pattern="[0-9]*">
    <label class="profile-item-label">Location</label>
    <input class="profile-item-value" name="from_location" type="text" [(ngModel)]="rideRequestFromStorage.fromAddress.location"
           [readOnly]="!isOwner" placeholder="enter location">

    <h3>To:</h3>
    <input name="to_id" hidden [(ngModel)]="rideRequestFromStorage.toAddress.id">
    <label class="profile-item-label">Street</label>
    <input class="profile-item-value" name="to_street" type="text" [(ngModel)]="rideRequestFromStorage.toAddress.street"
           [readOnly]="!isOwner" placeholder="enter street name">
    <label class="profile-item-label">House Number</label>
    <input class="profile-item-value" name="to_house_number" type="text" [(ngModel)]="rideRequestFromStorage.toAddress.houseNumber"
           [readOnly]="!isOwner" placeholder="enter house number" pattern="[^A-Za-z0-9]+">
    <label class="profile-item-label">Postal Code</label>
    <input class="profile-item-value" name="to_postal_code" type="text" [(ngModel)]="rideRequestFromStorage.toAddress.postalCode"
           [readOnly]="!isOwner" placeholder="enter postal code" pattern="[0-9]*">
    <label class="profile-item-label">Location</label>
    <input class="profile-item-value" name="to_location" type="text" [(ngModel)]="rideRequestFromStorage.toAddress.location"
           [readOnly]="!isOwner" placeholder="enter location">
  </div>

  <div class="button-row">
    <button *ngIf="isOwner" class="button button-row-button" type="submit">Save</button>
    <button *ngIf="isOwner" class="button button-row-button" type="button"
            (click)="clickOnDeleteButton(rideRequestFromStorage)">Delete
    </button>
    <button class="button button-row-button" type="button" (click)="clickOnCancelButton()">Cancel</button>
  </div>
</form>

<h2 *ngIf="!rideRequestFromStorage">Create Ride Request</h2>
<form *ngIf="!rideRequestFromStorage" class="centered-content" #CreateRideRequest="ngForm"
      (ngSubmit)="onClickSubmitCreate(CreateRideRequest.value)">
  <div class="card-content profile-content">

    <h3>Content:</h3>
    <label class="profile-item-label">Title</label>
    <input class="profile-item-value" name="title" type="text" placeholder="enter title" ngModel>
    <label class="profile-item-label">Content</label>
    <input class="profile-item-value" name="description" type=text placeholder="enter description" ngModel>
    <label class="profile-item-label">Start Time</label>
    <input class="profile-item-value" name="newStartTime" type="datetime-local" placeholder="enter start time" ngModel required>

    <h3>From:</h3>
    <label class="profile-item-label">Street</label>
    <input class="profile-item-value" name="new_from_street" type="text" placeholder="enter street name" ngModel>
    <label class="profile-item-label">House Number</label>
    <input class="profile-item-value" name="new_from_house_number" type="text" placeholder="enter house number" pattern="[^A-Za-z0-9]+" ngModel>
    <label class="profile-item-label">Postal Code</label>
    <input class="profile-item-value" name="new_from_postal_code" type="text" placeholder="enter postal code" pattern="[0-9]*" ngModel>
    <label class="profile-item-label">Location</label>
    <input class="profile-item-value" name="new_from_location" type="text" placeholder="enter location" ngModel>

    <h3>To:</h3>
    <label class="profile-item-label">Street</label>
    <input class="profile-item-value" name="new_to_street" type="text" placeholder="enter street name" ngModel>
    <label class="profile-item-label">House Number</label>
    <input class="profile-item-value" name="new_to_house_number" type="text" placeholder="enter house number" pattern="[^A-Za-z0-9]+" ngModel>
    <label class="profile-item-label">Postal Code</label>
    <input class="profile-item-value" name="new_to_postal_code" type="text" placeholder="enter postal code" pattern="[0-9]*" ngModel>
    <label class="profile-item-label">Location</label>
    <input class="profile-item-value" name="new_to_location" type="text" placeholder="enter location" ngModel>
  </div>

  <div class="button-row">
    <button *ngIf="isLoggedIn" class="button button-row-button" type="submit">Save</button>
    <button class="button button-row-button" type="button" (click)="clickOnCancelButton()">Cancel</button>
  </div>
</form>
