.topnav {
  min-height: var(--header-height);
  max-height: var(--header-height);
  /*overflow: hidden;*/
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--nav-color);
  color: var(--nav-text-color);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #links {
  display: none;
  position: absolute;
  top: var(--header-height);
  background-color: var(--nav-color);
}

/* Style navigation menu links */
.topnav a {
  background-color: var(--nav-color);
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 34px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  color: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
#nav-links a:hover {
  background-color: var(--nav-hover-color);
  color: var(--nav-hover-text-color);
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ddd;
  color: white;
}
