<div class="content">
  <button class="selector" [ngClass]="rideOffersBtnClicked ? 'clicked' : 'unClicked'" (click)="offersBtnClicked()">Offers</button>
  <button class="selector" [ngClass]="rideRequestsBtnClicked ? 'clicked' : 'unClicked'" (click)="requestsBtnClicked()">Requests</button>
  <br>
  <ul id="offersList" class="clean" [ngClass]="rideOffersBtnClicked ? '' : 'hidden'">
    <li class="item" *ngFor="let rideOffer of rideOffers">
      <span hidden="true">{{rideOffer.id}}</span><br>
      <h2>{{rideOffer.title}}</h2><br>
      <p>{{rideOffer.description}}</p>
    </li>
  </ul>
  <ul id="requestsList" class="clean" [ngClass]="rideRequestsBtnClicked ? '' : 'hidden'">
    <li class="item" *ngFor="let rideRequest of rideRequests">
      <span hidden="true">{{rideRequest.id}}</span><br>
      <!--      <h2>{{rideRequest.title}}</h2><br>-->
      <p>{{rideRequest.content}}</p>
    </li>
  </ul>
</div>
