<div class="content">
  <button id="offersBtn" (click)="offersBtnClicked()">Offers</button>
  <button id="requestsBtn" (click)="requestsBtnClicked()">Requests</button>
  <br>
  <ul id="offersList" hidden=false class="clean">
    <li class="item" *ngFor="let rideOffer of rideOffers">
      <span hidden="true">{{rideOffer.id}}</span><br>
      <h2>{{rideOffer.title}}</h2><br>
      <p>{{rideOffer.description}}</p>
    </li>
  </ul>
  <ul id="requestsList" hidden=true class="clean">
    <li class="item" *ngFor="let rideRequest of rideRequests">
      <span hidden="true">{{rideRequest.id}}</span><br>
      <!--      <h2>{{rideRequest.title}}</h2><br>-->
      <p>{{rideRequest.content}}</p>
    </li>
  </ul>
</div>
